.container
  div
    acme-navbar(creation-date='main.creationDate')
  //- .row
  //-   .col-sm-12
  //-     p= '{{ main.dyno_sizes }}'
  //-   .col-sm-12(ng-repeat="job in main.jobs")
  //-     scheduler-job(job="job")
  .row(ng-controller="jobsCtrl as jobs")
    h1 Jobs ctrl
    .col-sm-12(ng-repeat="job in jobs.jobs")
      scheduler-job(job="job")
    .col-sm-12
      p= '{{ jobs.dyno_sizes }}'
      h2 foo bar

      h2= '{{ jobs.jobs }}'
  //- .jumbotron.text-center
  //-   h1 'Allo, 'Allo!
  //-   p.lead
  //-     img(src='assets/images/yeoman.png', alt="I'm Yeoman")
  //-     br
  //-     |       Always a pleasure scaffolding your apps.
  //-   p.animated.infinite(ng-class='main.classAnimation')
  //-     button.btn.btn-lg.btn-success(type='button', ng-click='main.showToastr()') Splendid Toastr
  //-   p
  //-     | With ♥ thanks to the contributions of
  //-     acme-malarkey(extra-values="['Yeoman', 'Gulp', 'Angular']")
  //- .row
  //-   .col-sm-6.col-md-4(ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'")
  //-     .thumbnail
  //-       img.pull-right(ng-src='assets/images/{{ awesomeThing.logo }}', alt='{{ awesomeThing.title }}')
  //-       .caption
  //-         h3 {{ awesomeThing.title }}
  //-         p {{ awesomeThing.description }}
  //-         p
  //-           a(ng-href='{{awesomeThing.url}}') {{ awesomeThing.url }}

