.container
  div
    acme-navbar(creation-date='main.creationDate')
  .row(ng-controller="jobsCtrl as jobs")
    .col-sm-12(ng-repeat="job in jobs.jobs")
      scheduler-job(job="job")
    
    .col-sm-12
      button.btn.btn-primary.btn-lg.btn-block(type=button) Add new job
